body{
    background-color: gray;
    margin: 0;
}
header h1{
    background-color: white;
    height: 50px;
    margin: 0 ;
    padding-top: 10px;
    text-align: center;

}
.wrapper{
    text-align: center;
}
.feed{
    background-color: gray;
    width: 500px;
    display: inline-block;
    margin-bottom: 20px auto;
    border: gray solid 1px;
}
.post{
    margin-top: 35px;
    background : white;
    padding: 3px 0 3px;
}
img{
    height: 300px;
    width: 500px;
}
h2{
    text-align: left;
    margin: 10px;
    width: 50%;
}
p{
    text-align: justify;
    padding: 0 10px 0 10px;
}
hr{
    background-color: gray;
    height: 40px;
}